{% extends 'base/main.html' %}
{% load static %}
{%block content%}
<section id="room-name-wrapper">
    <p>Room Name: <span id="room-name"></span></p>
</section>

<section id="video-streams">

    <div class="video-container" id="user-container-1">
        <div class="username-wrapper"><span class="user-mame">My name</div>
        <div class="video-player" id="user-1"></div>
     </div>
    <div class="video-container" id="user-container-2">
        <div class="username-wrapper"><span class="user-mame">Other user name</div>
        <div class="video-player" id="user-2"></div>
     </div>
</section>

<script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.8.0.js' %}"></script>
<script type="text/javascript" src="{% static 'js/streams.js' %}" ></script>
{% endblock content%}
